@font-face {
  font-family: "Northwell";
  src: url("../fonts/Northwell/Northwell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow/Barlow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Tnor";
  src: url("../fonts/Tnor/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
