.notification {
  padding: 20px 40px 20px 20px;
  background-color: #777777;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  position: relative;
  right: -110%;
  color: white;
  margin-bottom: 10px;
}

.notification.pushIn {
  visibility: visible;
  right: 0;
}

.notification-success {
}
.notification-error {
}
.notification-information {
}
